@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Montserrat, monospace;
  font-size: 14px;
}
:root {
  --Dark-cyan: hsl(158, 36%, 37%);
  --Cream: hsl(30, 38%, 92%);
  --Very-dark-blue: hsl(212, 21%, 14%);
  --Dark-grayish-blue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);
}
.hero {
  background-color: var(--Cream);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  max-width: 530px;
  max-height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  background-color: var(--White);
  border-radius: 0.7rem;
  overflow: hidden;
}
.card__left {
  overflow: hidden;
}
.card__left > .left__ilustration {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.card__right {
  padding: 2rem;
}
.right__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card__cta > svg {
  width: 15px;
  fill: var(--White);
}
.container__tag {
  text-transform: uppercase;
  color: var(--Dark-grayish-blue);
  letter-spacing: 5px;
  font-size: 0.8rem;
}
.container__title {
  font-size: 2rem;
  font-family: Fraunces, monospace;
}
.container__paragraph {
  color: var(--Dark-grayish-blue);
  line-height: 1.7;
  font-size: 0.9rem;
}
.current__price {
  font-size: 2rem;
  font-family: Fraunces, monospace;
  color: var(--Dark-cyan);
}
.container__price {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.previous__price {
  color: var(--Dark-grayish-blue);
  text-decoration: line-through;
}
.card__cta {
  border: none;
  background-color: var(--Dark-cyan);
  padding: 10px 15px;
  border-radius: 10px;
  color: var(--White);
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-weight: 600;
  align-items: center;
}
.card__cta > span {
  font-size: 0.9rem;
}
